{% extends 'ejemplo/base.html' %}

{% block contenido %}
    <a href="/mi-familia/alta">Nuevo Familiar</a>
    <ul>
    {% for familiar in lista_familiares %}
        <li> Id: {{familiar.id}}, Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}
            <!-- Esto agrega un link al form de actulización-->
            <a href='/mi-familia/actualizar/{{ familiar.id }}'>Actualizar</a>
            <a href='/mi-familia/borrar/{{ familiar.id }}'>Borrar</a>
        </li>
    {% endfor %}
    </ul>
{%endblock %}

{% block titulo%}
Lista de todos mis Familiares
{% endblock %}